@font-face {
    font-family: 'bpg_nino_mtavruli_bold';
    src: url('/fonts/bpg_nino_mtavruli_bold.ttf');
}

/* body{
    margin-left: 30px;
    margin-top: 30px;
} */
ul {
    list-style: none;
    font-family: 'bpg_nino_mtavruli_bold';
    display: inline-block;
}

li {
    display: inline-block;
    color: #3D58A6;
}

li a {
    text-decoration: none;
    /* background-color: black; */
    padding-left: 20px;
    font-size: 22px;
}

.logo {
    height: 30px;
    /* background-color: green; */
    display: inline-block;
    /* margin-left: 30px;
    margin-top: 30px; */
}

.container {
    position: relative;

}

.textonimage {
    position: absolute;
    margin-left: 50px;
    top: 8px;
    left: 16px;
    color: #E6E6E6;
    font-family: 'bpg_nino_mtavruli_bold';
    margin-top: 12px;
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 11px;
}

img.computer {
    width: 1170px;
    height: 460px;
    margin-left: 30px;
}

.navigacia {
    display: inline-block;
    margin-left: 30px;
}

.mtavari-color {
    color: #EE4036;
}

.satauris-xazi {
    background-color: black;
    padding: 1px;
    height: 20px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.satauri1 {
    font-family: 'roboto';
    font-size: 20px;
    margin-left: 30px;
    display: inline-block;
}

.satauri2 {
    font-family: 'roboto';
    font-size: 20px;
    display: inline-block;
}

/* pirveli konteineri */
.container-down1 {
    position: relative;
    height: 225px;
    min-width: 570px;
    background-color: #F2F2F2;
    display: inline-block;
    margin-left: 30px;
}

.container-satauri {
    position: absolute;
    font-size: 22px;
    color: #3D58A6;
    font-family: 'roboto';
    top: -9px;
    left: 21px;
}

.container-image1 {
    position: absolute;
    left: 40px;
    top: 56px;
}

.container-text {
    position: absolute;
    left: 200px;
    top: 25px;
    font-size: 20px;
    font-family: 'roboto';
    margin-top: 30px;
    color: #333333;
}

/* meore konteineri */
.container-down2 {
    position: relative;
    height: 225px;
    min-width: 570px;
    background-color: #F2F2F2;
    display: inline-block;
    margin-left: 30px;
}

.container-satauri2 {
    position: absolute;
    font-size: 22px;
    color: #3D58A6;
    font-family: 'roboto';
    top: -9px;
    left: 21px;
}

.container-image2 {
    position: absolute;
    left: 60px;
    top: 56px;
}

.container-text2 {
    position: absolute;
    left: 200px;
    top: 25px;
    font-size: 20px;
    font-family: 'roboto';
    margin-top: 30px;
    color: #333333;
}

.soc-qselebi {
    margin-top: 5px;
    /* background-color: black; */

}

.fb {
    height: 30px;
    margin-left: 30px;
}

.youtube {
    height: 30px;
    margin-left: 35px;
}

.boxi {
    padding-left: 2px;
    display: inline-block;
    background-color: #3D58A6;
    height: 26px;
    margin-left: 35px;
}